body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #990000;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #990000;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
    font-family: Arial, sans-serif; 
}

p {
    font-size: 16px;
}

ul {
    text-align: left;
    display: inline-block;
    padding: 0;
}



section {
    padding: 20px;
    margin: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h2 {
    color: #333;
}

.foto-diri {
    width: 300px;  /* Lebar gambar */
    height: 400px; /* Tinggi gambar */
    object-fit: cover; /* Memastikan gambar tidak terdistorsi */
    border-radius: 10px; /* Menambahkan sud ut melengkung */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Menambahkan bayangan */
}

.download-cv {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.download-cv:hover {
    background-color: #3e8e41;
}


/* Efek hover untuk tautan */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

